#
# Copyright (c) 2009-2020. Authors: see NOTICE file.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

worker_processes  1;
daemon off;

events {
    worker_connections  1024;
}

http {
    include       mime.types;
    default_type  application/octet-stream;
    server_names_hash_bucket_size  128;
    server_tokens off;

    # Use Docker's resolver to resolve container names when used with set and proxy_pass
    resolver 127.0.0.11 valid=30s;

    log_format  main  '$scheme - h=$host - hh=$http_host - sn=$server_name - ra=$remote_addr - ru=$remote_user [$time_local] req="$request" '
                          's=$status bbs=$body_bytes_sent hr="$http_referer" '
                          'hua="$http_user_agent" hxff="$http_x_forwarded_for" hxfh="$http_x_forwarded_host"';

    sendfile        on;
    keepalive_timeout  120;
    proxy_connect_timeout 75;

    large_client_header_buffers 4 16k;
    error_log /var/log/nginx/error.log debug;
    access_log /var/log/nginx/access.log main;

    upstream ims-pooled {
      server $INTERNAL_URLS_IMS;
    }

    # Default server. Useful when no server_name matched because Host is wrong but can be found in http_x_forwarded_host
    # The downside is that when there's no matching server block at all for an URL that finds its way here, there's an infinite loop.
    server {
        client_max_body_size 0;
        listen          80 default_server;
        location / {
            proxy_pass http://127.0.0.1;
            proxy_set_header Host $http_x_forwarded_host;
        }
    }

    server {
        client_max_body_size 0;
        listen       $NGINX_LISTEN_PORT;
        server_name  $URLS_CORE;

        location / {
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header Host $host;

            # Allow nginx to start without web_ui. Else it may crash on start saying "[emerg] host not found in upstream "web_ui""
            set $tmpwebuivar "$INTERNAL_URLS_WEB_UI";
            proxy_pass http://$tmpwebuivar;

            #proxy_http_version 1.1;
            #proxy_set_header Upgrade $http_upgrade;
            #proxy_set_header Connection "upgrade";
        }
        location ~ /(api|monitoring|login|logout|saml|saml2|server|session|custom-ui|static|restApiDoc|js/jsondoc|css/jsondoc)  {
            proxy_intercept_errors off;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header Host $host;
            set $tmpcorehost "$INTERNAL_URLS_CORE";
            proxy_pass http://$tmpcorehost;
        }
        location /ws {
            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "upgrade";

            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header Host $host;
            set $tmpcorehost "$INTERNAL_URLS_CORE";
            proxy_pass http://$tmpcorehost;
        }
        location /www/ {
          alias /www/;
        }

        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";

        proxy_intercept_errors on;

        error_page 404 = /cytomine-page-not-found;
        location /cytomine-page-not-found {
            default_type "text/html";
            alias /opt/nginx/nginx-1.10.1/html/404.html;
        }
    }
    server {
        client_max_body_size 0;
        listen       $NGINX_LISTEN_PORT;
        server_name  $URLS_IMAGE_SERVER;

        location / {
            if ($request_method = OPTIONS ) {
              include /etc/nginx/cors_params;
              add_header Content-Length 0;
              add_header Content-Type text/plain;
              return 200;
            }

            include /etc/nginx/cors_params;
            proxy_set_header Host $host;
            set $tmpims1host ims-pooled;
            proxy_pass http://$tmpims1host;
        }
    }
    server {
        client_max_body_size 0;
        proxy_request_buffering off;
        listen       $NGINX_LISTEN_PORT;
        server_name  $URLS_UPLOAD;

        location / {
            include /etc/nginx/cors_params;

            if ($request_method = OPTIONS ) {
              add_header Content-Length 0;
              add_header Content-Type text/plain;
              return 200;
            }
            return 444;
        }

        # Upload form should be submitted to this location
        location /upload {

            if ($request_method = OPTIONS ) {
              include /etc/nginx/cors_params;
              add_header 'Access-Control-Allow-Credentials' 'false' always;
              add_header Content-Length 0;
              add_header Content-Type text/plain;
              return 200;
            }

            proxy_read_timeout 600;

            add_header 'Access-Control-Allow-Credentials' 'false';
            add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS';
            add_header 'Access-Control-Allow-Headers' 'Content-Type, Content-Range, Content-Disposition, Content-Description, date, dateFull, authorization,content-type-full';
            add_header 'Access-Control-Max-Age' '1728000';
            add_header 'Access-Control-Allow-Origin' '*';
            proxy_pass   http://$INTERNAL_URLS_IMS;
        }
        error_page   500 502 503 504  /50x.html;
        location = /50x.html {
            root   html;
        }
    }
}

